@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
  font-family: 'Bangers', cursive, serif;
  font-size: 1.5rem;
  background-image: 
    url('https://images.hdqwalls.com/wallpapers/flash-vector-art-4y.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(247, 247, 247);
  
}
h1{
  text-shadow: 2px 2px 4px rgb(17, 3, 3);
}

li{
  list-style: none;
  margin: 20px;
  font-weight: bold;
  
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form > button {
  color: red;
}
	
li {
  list-style: none;
}
#delete{
  margin-left: 30px;
}