@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
  font-family: 'Bangers', cursive, serif;
  font-size: 1.5rem;
  background-image: 
    url('https://wallpaperaccess.com/full/3170695.jpg');
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  
}
h1{
  text-shadow: 2px 2px 2px rgb(41, 16, 16);
}

li{
  list-style: none;
  margin: 20px;
  font-weight: bold;
  
}